/* Write your CSS here */
.heading-dark {
  color: #ffffff;
  font-family: 'Roboto';
}

.heading-light {
  color: #000000;
  font-family: 'Roboto';
}
.tag-line-dark {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
}
.tag-line-light {
  color: #000000;
  font-family: 'Roboto';
  text-align: center;
}
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.not-found-image {
  height: 250px;
  width: 250px;
}
.bg-dark {
  background-color: #000000;
}
.bg-light {
  background-color: #ffffff;
}

